{%extends 'header.html'%}
{% load static %}
{% block title%} Home {%endblock title%}
{%block body%}


<div class="container" style="padding-top:130px; width:600px">

    <div class="container mb-3">
        <div class="textcontent">
            <h3  >Enter Your Link Here </h3> 
            <img class="my-2 mx-3" src={% static 'arrow.png' %} height="20px" width="20px" class="iconDetails">
        </div>
       
    </div>


    <form class="form-inline" method="POST" >
        {% csrf_token %}
        <div class="form-group mb-2 my-2">
            
            <input type="text" class="form-control form-control-lg" name="Text" id="inputlink" placeholder="Youtube Link">
          </div>
        <center><div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" name="btn2" value="Check">
         </div></center>
    </form>
</div>

{%endblock body%}